<%= form_for [@post, @comment], remote: true do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
        <ul>
            <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    <div class="form-group">
        <%= f.text_area :content, rows: "3", cols: "36", class: "form-control", id: "comment-box", placeholder: "Escribir comentario..." %>
    </div>
    <%= f.submit 'Comentar', class: "btn btn-primary"%>
<% end %>




