<!-- Page Header -->
<header class="masthead" style="background-image: url('http://lorempixel.com/1200/800/'); height: 28rem;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Nuevo Articulo</h1>
          <span class="subheading">Publica un nuevo articulo.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <%= render 'form', post: @post%>
    </div>
  </div>
</div>

<hr>

<footer>
  <div class="container">
    <div class="row">
      
    </div>
  </div>
</footer>