<% if user_signed_in? %>
  <li class="nav-item">
    <%= link_to "Nuevo Post", new_post_path, class: "nav-link" %>
  </li>  
  <li class="nav-item">
    <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "nav-link" %>
  </li>  
<% else %>
  <li class="nav-item">
    <%= link_to  "Ingresar", new_user_session_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to  "Registrar", new_user_registration_path, class: "nav-link" %>
  </li>
<% end %>